.semiheading{
    font-family: var(--font-cormorant);
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--red-2);
    font-weight: 500;
    text-transform: uppercase;
}

.heading{
    font-family: var(--font-cormorant);
    font-size: 30px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    flex-shrink: 0;
}