:root{
    --white-0: #FFFFFF;
    --white-1: #FAFAFA;
    --white-2: #F6F6F6;
    --white-3: #F4F4F4;
    --white-4: #B1B1B1;
    --white-5: #808080;
    --white-6: #757575;

    --black: #000000;

    --red-1: #672C2C1F;
    --red-2: #FF3147;

    --font-poppins: "Poppins", sans-serif;
    --font-cormorant: "Poppins", sans-serif;
    /* --font-cormorant: "Cormorant Upright", serif; */
 }

 .why-choose-us{
    width: clamp(100px,70%,90vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
 }
 .why-choose-us .content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
 }
 .why-choose-us .content .item{
    display: flex;
    flex-direction: column;

    gap: 15px;
 }
 .why-choose-us .content .item img{
    height: 50px;
    align-self: flex-start;
 }
 .why-choose-us .content .item .heading{
    font-size: 17px;
    font-weight: 500;
 }
 .why-choose-us .content .item .desc{
    font-size: 13px;
    font-family: var(--font-poppins);
 }